<header class="app-header">
    <div class="header-inner">
        <a
                class="app-title"
                href="/rooms"
        >
            스터디룸 예약 관리
        </a>

        <div class="login-info">
            <a
                    class="header-link"
                    href="/login"
            >
                로그인
            </a>

            <a
                    class="header-link"
                    href="/signup"
            >
                회원가입
            </a>
        </div>
    </div>
</header>