<nav class="app-nav" aria-label="일반 회원 메뉴">
    <ul class="nav-list">
        <li>
            <a class="nav-link {{homeCurrent}}" href="/home">
                홈
            </a>
        </li>
        <li>
            <a class="nav-link {{roomsCurrent}}" href="/rooms">
                스터디룸
            </a>
        </li>
        <li>
            <a class="nav-link {{myInfoCurrent}}" href="/my-info">
                내 정보
            </a>
        </li>
        <li>
            <a class="nav-link {{myReservationsCurrent}}" href="/my-reservations">
                내 예약
            </a>
        </li>

        <li>
            <a class="nav-link {{myRefundsCurrent}}" href="/my-refunds">
                내 환불
            </a>
        </li>
    </ul>
</nav>