<nav class="app-nav" aria-label="관리자 메뉴">
    <ul class="nav-list">
        <li>
            <a class="nav-link {{homeCurrent}}" href="/home">
                홈
            </a>
        </li>
        <li>
            <a class="nav-link {{roomsCurrent}}" href="/rooms">
                스터디룸
            </a>
        </li>
        <li>
            <a class="nav-link {{adminRoomsCurrent}}" href="/admin/rooms">
                스터디룸 관리
            </a>
        </li>
        <li>
            <a class="nav-link {{adminUsersCurrent}}" href="/admin/users">
                회원 관리
            </a>
        </li>
        <li>
            <a class="nav-link {{adminReservationsCurrent}}" href="/admin/reservations">
                전체 예약
            </a>
        </li>
        <li>
            <a class="nav-link {{adminRefundsCurrent}}" href="/admin/refunds">
                환불 관리
            </a>
        </li>
    </ul>
</nav>